#left-col
  ul
    list-style: none

    a
      color: gray

    .active
      color: $primary 

    li 
      font-weight: bold
      color: gray
      font-size: 1.2em
      margin: 0.4em

#mid-col
  background-color: white
  height: 86vh
  border-radius: 0.8em !important

  .thumbnail-img
    cursor: pointer

  @media screen and (min-width: 768px)
    .thumbnail-img
      height: 18vw
      object-fit:cover

  @media screen and (max-width: 768px)
    .thumbnail-img
      height: 100vw
      object-fit:cover

  .follow-btn
    background: linear-gradient(white 0 0) padding-box, $follow-btn-background border-box 
    color: #ff9d00
    margin: 0 !important
    margin-left: auto !important
    padding: 0.2em 1.2em !important
    border: 3px solid transparent 
    border-radius: 1em !important
    display: inline-block 
    margin: 75px 0 
    
  .following-btn
    color: white
    display: inline-block 
    margin: 0 !important
    margin-left: auto !important
    padding: 0.2em 1.2em !important
    border: none !important
    border-radius: 1em !important
    background-image: $follow-btn-background !important

  #avatar
    width: 10em
    height: 10em
    position: relative
    background-position: center
    background-image: url("../images/sample.png")

  #avatar span 
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    width: fit-content
    background-color: rgba(255,255,255,0.5)
    padding: 0.3em 0.8em
    border-radius: 0.4em
    bottom: 10%
    cursor: pointer
    font-weight: 500


  #avatar-edit
    background-image: url("../images/sample.png")

  #photo-container
    margin-top: 1em
    overflow-y: auto 
    height: 90%

  #button-list
    margin-bottom: -1.5em
    button 
      padding: 0.6em 0.8em !important

    #unselect
      color: $primary
      background-color: transparent
      border: 2px solid $primary

    form:nth-of-type(1)>button
      border-radius: 0.4em 0 0 0.4em !important

    form:nth-of-type(2)>button
      border-radius: 0 0.4em 0.4em 0 !important

