.current-tab 
  color: $primary
  cursor: pointer

span.inactive-tab
  width: fit-content !important
  padding: 0em !important

.inactive-tab
  cursor: pointer
  color: $secondary !important
  background-color: transparent !important
  font-weight: normal !important

  span, span:last-of-type
    color: $secondary !important
