@import "bootstrap"
@import 'user_forms'
@import "columns"
@import 'vars'


body
  user-select: none

.navbar
  background-color: $primary !important

#navbarCollapse
  input::placeholder
    color: lightgray
    font-weight: bold
.mt-6
  margin-top: 5em

a 
  cursor: pointer
  text-decoration: none !important
  color: $primary

a:visited 
  color: $primary


input[type="button"], button:not(.navbar-toggler)
  margin: 0.8em 0em 1.2em 0em !important
  padding: 0.8em 2em !important
  background-color: $primary
  border: 2px solid $primary
  border-radius: 0.4em !important
  font-weight: bold
  color: white

input[type="button"], button 
  a 
    color: white

.custom-card 
  .card
    background-color: #f9f9f9
    box-shadow: 0px 4px 4px #ccc
    border-top: none
    border-radius: 0.8em !important

  .card-radius
    border-radius: 0 0.4em 0.4em 0 !important

  h1 
    font-weight: 800
    color: $primary

  a
    color: $primary !important


